/**
 * Myplanet theme for reveal.js presentations
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic|Droid+Sans+Mono);

// Brand colors --------------------------------
$myplanet_pink:   #ea3d67;
$myplanet_teal:   #58c0a2;
$myplanet_purple: #5F5CB1;
$myplanet_black:  #222222;
$myplanet_orange: #f05a28;

// Override theme settings (see ../template/settings.scss)
$mainFont: 'Droid Serif', serif;
$mainColor: #333;
$headingFont: 'Droid Serif', serif;
$headingColor: #000;
$headingTextShadow: none;
$headingTextTransform: none;
$backgroundColor: #fff;
$linkColor: $myplanet_orange;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: rgba(0, 0, 0, 0.99);



// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------



body {
  background-image: url('img/mp_logo_ong.png');
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: 95% 95%;
  .reveal {
    h1, h2, h3, h4, h5, h6 {
      font-weight:bold;
      text-shadow: none;
      line-height: 1.25;
      font-weight: 400; 
    }
    h1 { font-size: 3.27em; line-height:1; font-weight: 700;}
    h2 { font-size: 1.61em; }
    h3 { font-size: 1em; font-weight: 700; }
    h4 { font-size: 1em; font-style: italic; }
    img {
      width: 40%;
    }
    .lite {
      opacity: 0.25;
    }
    code {
      font-family: 'Droid Sans Mono', monospace;
    }
    a,
    a:not(.image) {
      color: $myplanet_orange;
      text-decoration: underline;
      &:focus,
      &:hover {
        color: lighten( $myplanet_orange, 20% );
      }
    }
  }
}


// slide themes
.title-slide body,
.pink-slide body,
.teal-slide body,
.purple-slide body,
.orange-slide body,
.black-slide body {
  background-image: url('img/mp_logo_wt.png');
  background-color: $myplanet_black;
  .reveal {
    color: #fff;
    h1, h2, h3, h4, h5, h6 {
      color: #fff;
    }
    a,
    a:not(.image) {
      color: $myplanet_black;
      &:focus,
      &:hover {
        color: lighten( $myplanet_black, 20% );
      }
    }
  }
}
.title-slide body { 
  background-image: url('img/title-bg.jpg'); 
  background-size: cover;
  background-position: center center;
  background-color: $myplanet_orange;
}
.no-logo-slide body  { background-image: none !important;    }
.pink-slide body     { background-color: $myplanet_pink;     }
.teal-slide body     { background-color: $myplanet_teal;     }
.purple-slide body   { background-color: $myplanet_purple;   }
.orange-slide body   { background-color: $myplanet_orange;   }
.black-slide body .reveal {
  a,
  a:not(.image) {
    color: $linkColor;
    &:focus,
    &:hover {
      $linkColorHover: lighten( $linkColor, 20% );
    }
  }
}



// helper classes
.reveal {
  img,
  .nude {
    background-color: transparent !important;
    box-shadow: 0 0 0 transparent !important;
    border-width: 0!important;
  }
  .left {
    float: left;
  }
  .right {
    float: right;
  }

}